<div class="certification-item">
    <div class="title">
        <i class="material-icons">import_contacts</i> 
        <span> {{certificationInfo.name}}</span>
        <span *ngIf="certificationInfo.source">
            - Source: 
            <a *ngIf="certificationInfo.link" href="{{certificationInfo.link}}" target="_blank">
                {{certificationInfo.source}}
            </a>
        </span>
        <span class="year" *ngIf="certificationInfo.year">
            ({{certificationInfo.year}})
        </span>
    </div>
</div>