@import "./src/app/style/_variables";

.contact-item {
    font-family: $font-face1;
    display: block;
    font-size: 12px;

    > div {
        display: inline;
    }
    .icon {
        font-size: 16px;
        color: $orange;
    }
    .title, .titleWithUrl {
        padding-left: 10px;
    }
    .title::after,
    .titleWithUrl::after {
        content: "| ";
        animation: blinker 1s linear infinite;
    }
    a, a:hover, a:visited {
        color: $black;
    }
    // Effects for blinking
    @keyframes blinker {  
        50% { opacity: 0; }
    }
}