<div class="card border-light mb-3" *ngIf="cardInfo">
    <div class="card-header">
        <span class="icon glyphicon {{cardInfo.icon}}" aria-hidden="true"></span>&nbsp;
        <span class="title">{{cardInfo.title}}</span>
        <div *ngIf="cardInfo.options" class="options">
            <a *ngFor="let label of cardInfo.options" (click)="activateOption(cardInfo.title)">{{!option ? 'Show' : 'Hide'}} {{label}}</a>
        </div>
    </div>
    <div class="card-body" *ngIf="cardInfo.details">
        <h5 class="card-title" *ngIf="cardInfo.details.title">
            {{cardInfo.details.title}}
        </h5>
        <p class="card-text" *ngIf="cardInfo.details.text">
            {{cardInfo.details.text}}
        </p>
        <div *ngIf="cardInfo.details.contacts">
            <div *ngFor="let contact of cardInfo.details.contacts">
                <contact-list [contactInfo]="contact"></contact-list>
            </div>
        </div>
        <div *ngIf="cardInfo.details.education">
            <div *ngFor="let education of cardInfo.details.education">
                <education-list [educationInfo]="education"></education-list>
            </div>
        </div>
        <div class="skillCardContainer" *ngIf="cardInfo.details.skills">
            <div class="skillContainer" *ngFor="let skill of cardInfo.details.skills">
                <skill-list [skillInfo]="skill" [option]="category == 'Skills' && option"></skill-list>
            </div>
        </div>
        <div *ngIf="cardInfo.details.training">
            <div class="trainingContainer" *ngFor="let training of cardInfo.details.training">
                <training-list [trainingInfo]="training"></training-list>
            </div>
        </div>
        <div *ngIf="cardInfo.details.certification">
            <div class="certificationContainer" *ngFor="let certification of cardInfo.details.certification">
                <certification-list [certificationInfo]="certification"></certification-list>
            </div>
        </div>
        <div *ngIf="cardInfo.details.hobbies">
            <div class="hobbiesContainer" *ngFor="let hobbies of cardInfo.details.hobbies">
                <hobbies-list [hobbiesInfo]="hobbies" [option]="category == 'Hobbies' && option"></hobbies-list>
            </div>
        </div>
        <div *ngIf="cardInfo.details.experiences">
            <div class="experienceContainer" *ngFor="let experience of cardInfo.details.experiences">
                <experience-list [experienceInfo]="experience" [option]="category == 'Experience' && option"></experience-list>
            </div>
        </div>
    </div>
</div>