@import "./src/app/style/_variables";

.experience-item {
    font-family: $font-face1;
    display: block;
    padding-bottom: 10px;
    > div {
        display: inline;
    }
    .icon {
        color: $orange;
    }
    .title {
        font-size: $font-medium;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        .material-icons {
            font-size: 16px;
            color: $orange;
        }
        .experienceCompanyName {
            font-weight: bold;
        }
        .experienceYear {
            color: $orange;
        }
    }
    .title:hover {
        overflow: visible;
    }

    a {
        color: $orange;
    }

    .details {
        > span, > a, > p {
            padding-left: 20px;
        }
        > a {
            cursor: pointer;
            font-size: 12px;
            display: block;
        }
        .position {
            font-weight: bold;
            font-style: italic;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 80%;
            overflow: hidden;
        }
        .projectlink {
            i {
                 font-size: 12px;
                 vertical-align: bottom;
             }
         }
         .ProjectDetail {
            font-size: 12px;
         }
        .technologylink {
           i {
                font-size: 12px;
                vertical-align: bottom;
            }
        }
        .technologyDetail {
            font-size: 12px;
        }
    }

    .year::after{
        content: "| ";
        animation: blinker 1s linear infinite;
    }
    
    // Effects for blinking
    @keyframes blinker {  
        50% { opacity: 0; }
    }
}