@import "./src/app/style/_variables";

.hobbies-item {
    font-family: $font-face1;
    display: inline;
    > div {
        display: inline;
    }
    .icon {
        background-color: $grey;
    }
    .title {
        font-size: $font-medium;
        display: inline;
        a {
            font-size: 32px;
            padding-top: 10px;
        }
    }

    a {
        color: $orange;
    }
}