@import "./src/app/style/_variables";

.hobbies-item {
    font-family: $font-face1;
    display: inline;
    position: relative;

    > div {
        display: inline;
    }
    .icon {
        background-color: $grey;
    }
    .title {
        font-size: $font-medium;
        display: inline;
        a {
            font-size: 32px;
            padding-top: 10px;
        }
    }

    .name {
        vertical-align: bottom;
        position: absolute;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        bottom: -5px;
        left: 0;
    }

    a {
        color: $orange;
    }
}