@import "./src/app/style/_variables";

.hobbies-item {    
    font-family: $font-face1;
    display: inline-block;
    position: relative;

    &:hover {
        .hidden {
            display: block !important;
            visibility: visible !important;
        }
    }

    > div {
        display: inline;
    }
    .icon {
        background-color: $grey;
    }
    .title {
        font-size: $font-medium;
        text-align: center;
        display: block;
        a {
            font-size: 32px;
            padding-top: 10px;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .name {
        display: block;
        vertical-align: bottom;
        text-align: center;
        font-size: 8px;
    }

    a {
        color: $orange;
    }
}