<div class="resumeContainer" *ngIf="contents">
    <div class="row rowFirst">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col-lg-offset-1">
        <div id="photo-header" class="text-center">
          <!-- PHOTO (AVATAR) -->
          <circle-image image="assets/img/avatar.jpg"></circle-image>
          <div id="text-header" class="no-print">
            <h1 [innerHTML]="greetings[0].content"></h1>
          </div>          
          <hr />
          <hr />
        </div>
      </div>
    </div>
  <div class="row succeedingRow">
    <div *ngFor="let section of contents; let i = index;" 
      class="col col-md-12 col-sm-12 col-12 {{section.section}}" 
      [ngClass]="{
        'col-lg-7 col-print-7': i%2==0, 
        'col-lg-5 col-print-5': i%2!=0}">
        <card [cardInfo]="section"></card>
    </div>
  </div>
</div>