#photo {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #ec7263;
    }
    border-color: black;
    margin: auto;
    margin-top: -75px;
    padding-top: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}