// Get variables
@import "./src/app/style/_variables";
@import "./src/app/style/app";

:host {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

header {
  background-color: #4E274C;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
  padding: 0;
  font-family: $font-face1;
  text-align: center;
  margin-top: 75px;
  flex: 1 0 auto;
}

footer {
  text-align: center;
  font-size: 10px;
  background-color: $grey;
  font-family: $font-face1;
}

.shield {
  width: 750px;
  height: 450px;
}