@import "./src/app/style/_variables";

.skill-item {
    font-family: $font-face1;
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
    
    > div {
        display: inline;
    }

    .icons {
        background-color: $white;

        i {
            &.orange {
                color: $orange;
            }
            font-size: $font-xl;
        }

        .skillName  {
            display: none;
            font-size: 8;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 50px;
            overflow: hidden;
            padding: 0;
            margin: 0;

            &:hover {
                overflow: visible;
            }
        }
    }
}