@import "./src/app/style/_variables";

.training-item {
    font-family: $font-face1;
    display: block;
    > div {
        display: inline;
    }
    .icon {
        background-color: $grey;
    }
    .title {
        font-size: $font-medium;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        width: 100%;
        display: block;

        .material-icons {
            font-size: 16px;
            color: $orange;
        }

        &:hover {
            overflow: visible;
        }
    }
    

    a {
        color: $orange;
    }

    .year::after{
        content: "| ";
        animation: blinker 1s linear infinite;
    }
    
    // Effects for blinking
    @keyframes blinker {  
        50% { opacity: 0; }
    }
}