<div class="training-item">
    <div class="title">
        <i class="material-icons">assignment_turned_in</i> 
        <span> {{trainingInfo.name}} ({{trainingInfo.year}})</span>
        <a (click)="showDetails(bDetail)" class="trainingDetailLink"> 
            <i *ngIf="!bDetail" class="material-icons">keyboard_arrow_right</i> 
            <i *ngIf="bDetail" class="material-icons">keyboard_arrow_down</i> 
        </a>
        <p class="source" *ngIf="bDetail">
            Source: 
            <a *ngIf="trainingInfo.link" href="{{trainingInfo.link}}" target="_blank">
                {{trainingInfo.source}}
            </a>
        </p>
    </div>
</div>