/*
 * App-wide Color
 */
 $orange: #ec7263;
 $grey: #ededed;
 $white: #fff;
 $black: #000;

 /*
 * Font Sizes
 */
 $font-small: 10px;
 $font-medium: 12px;
 $font-medium1: 14px;
 $font-large: 16px;
 $font-xl: 32px;

 /*
 * Font Face
 */
 $font-face1: "Open Sans", Arial, Tahoma;