@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.min.css";

/*
 * App-wide Color
 */
 $orange: #ec7263;
 $grey: #ededed;
 $white: #fff;
 $black: #000;

 /*
 * Font Sizes
 */
 $font-small: 10px;
 $font-medium: 12px;
 $font-large: 16px;
 $font-xl: 32px;

 /*
 * Font Face
 */
 $font-face1: "Open Sans", Arial, Tahoma;