h1, h2, h3, h4, h5, h6 {
  font-family: $font-face1;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

a {
    color: $black;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}